@using Web_ProjetoCarfel.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/default.css">
    <script src="../Javascript/default.js"></script>
    <title>@ViewBag.Titulo</title>
    @if (@TempData["Mensagem"] != null ){
        <script>
            let mensagem = '@TempData["Mensagem"].ToString()';
            alert(mensagem);
        </script>
    }
</head>
<body>
    @Html.Partial("Partes/PopUp.cshtml")
    @Html.Partial("Partes/Header.cshtml")
    @RenderBody()
    @Html.Partial("Partes/Footer.cshtml")
</body>
</html>