@using Web_ProjetoCarfel.Models;
@{
    Layout = "../Shared/Layout";
    Usuario user = ViewData["Dono"] as Usuario;
    Usuario usuarioLogado = ViewData["Usuario"] as Usuario;
    if(usuarioLogado == null){
        usuarioLogado = new Usuario(0,"Visitante","visitante@hotmail.com","senhaparavisitante",DateTime.Parse("01/01/2000"));
    }
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/Perfil.css">
</head>
<body>
    <section class="content flex-column flex-centered">
        <h1>Perfil do Usuario <span>@user.Nome</span></h1>
        <div class="profile flex-container border-container">
            <div class="pic">
                <a href="../Usuario/Perfil?id=@user.ID">
                    <img class="profile-pic" src="../FotosPerfil/@user.FotoPerfilNome" alt="Foto de perfil padrão">
                </a>
            </div>
            <!-- Gerado -->
                <div id="info"> 
                    <p>Nome : <span>@user.Nome</span></p>
                    <p>Email : <span>@user.Email</span></p>
                    @if(user.ID == usuarioLogado.ID){
                        <p>Senha : <span>@user.Senha</span></p>
                    }else{
                        <p>Senha : <span>********</span></p>
                    }
                    <p>Data de Nascimento : <span>@user.dataNascimento.ToShortDateString()</span></p>                
                </div>
                <div>
                    <p>ID :<span>@user.ID</span></p>
                    <p>Data de criação :<span>@user.dataCriacao</span></p>
                </div>
                <!--Gerado (exclusivo ADM)-->
                <div id="adm-buttons" class="flex-column">
                    @if(usuarioLogado.ID != 0){
                        @if(user.ID == usuarioLogado.ID && user.Admin == true){
                            <a href="../Usuario/Mostrar" class="custom-button">Mostrar usuarios</a>
                            <a href="../Comentario/Aprovar" class="custom-button">Aprovar comentarios</a>
                            <a href="../Comentario/Comentarios" class="custom-button">Responder Usuario</a>
                        }else{
                            <a href="../Comentario/Comentarios" class="custom-button">Deixar um comentario</a>
                        }
                        <a href="../Usuario/Logoff" class="custom-button">Fazer Logoff</a>
                    }
                </div>
        </div>
    </section>
</body>
</html>