@using Web_ProjetoCarfel.Models;
@{
    Layout = "../Shared/Layout";
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/Perfil.css">
</head>
<body>
    <section class="content flex-column flex-centered">
        <h1>Perfil do Usuario [Usuario]</h1>
        <div class="profile flex-container border-container">
            <div class="pic">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão">
                </a>
            </div>
            <!-- Gerado -->
            @{
                Usuario user = ViewData["Dono"] as Usuario;
                Usuario usuarioLogado = ViewData["Usuario"] as Usuario;
                <div id="info"> 
                    <p>Nome : <span>@user.Nome</span></p>
                    <p>Email : <span>@user.Email</span></p>
                    @if(user.ID == usuarioLogado.ID){
                        <p>Senha : <span>@user.Senha</span></p>
                    }else{
                        <p>Senha : <span>********</span></p>
                    }
                    <p>Data de Nascimento : <span>@user.dataNascimento</span></p>                
                    <p>ID :<span>@user.ID</span></p>
                    <p>Data de criação :<span>@user.dataCriacao</span></p>
                </div>
                <!--Gerado (exclusivo ADM)-->
                @if(user.ID == usuarioLogado.ID && user.Admin == true){
                    <div id="adm-buttons" class="flex-column">
                        <a href="" class="custom-button">Mostrar usuario</a>
                        <a href="" class="custom-button">Aprovar comentarios</a>
                    </div>  
                }
            }
        </div>
    </section>
</body>
</html>